/*COLORS*/
/*blue #0b508c
/*green #24ffb6


/*HEADER*/

.overlay::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: #0b508c;
    opacity: 0;
    pointer-events: none;
    transition: ease opacity 300ms 100ms;
}

html .bg-color-dark,
html .bg-dark {
    background-color: #262e35 !important;
}

.btn-info {
    background-color: #24ffb6;
    border-color: #24ffb6;
    color: rgb(0, 0, 0);
}

.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
}

html .font-weight-extra-bold {
    color: #FFF !important;
    font-family: 'Source Code Pro', monospace;
}


/*SECCIÓN 2 - PILARES*/
/*Fondo título rotativo*/
html .bg-color-primary,
html .bg-primary {
    background-color: #0b508c !important;
}

.pilarsContainer {
    background-color: #fff !important;
    border-color: #0b508c !important;
}

/*SECCIÓN 3 - CLIENTES*/
/*Carousel*/
.owl-carousel.carousel-center-active-item-2 .owl-item.active>div {
    border: 4px;
    border-color: #0b508c;
    background: #ffffff;
}

.owl-carousel.carousel-center-active-item-2 .owl-item.active>div * {
    color: #282525 !important;
}

.owl-carousel.carousel-center-active-item-2 .owl-item>div {
    width: 66.6666%;
    margin-left: auto;
    padding: 48px;
    padding: 3rem;
    background: rgb(243, 243, 243);
    border: 2px;
    border-radius: 7px;
    box-shadow: 2px 2px 70px -40px rgba(0, 0, 0, 0.2);
}

.owl-carousel.carousel-center-active-item-2 .owl-item.active>div {
    border: 1px;
    border-style: solid;
    border-color: #0b508c;
}

.owl-carousel:not(.nav-arrows-1):not(.show-nav-title) .owl-nav button[class*="owl-"] {
    background-color: #24FFB6;
    border-color: #00ADD2 #00ADD2 #00839f;
    color: rgb(0, 0, 0);
}

.owl-carousel:not(.nav-arrows-1):not(.show-nav-title) .owl-nav button[class*="owl-"]:hover,
.owl-carousel:not(.nav-arrows-1):not(.show-nav-title) .owl-nav button[class*="owl-"].hover {
    background-color: #212121;
    color: white;
    border-color: #212121 #212121 #212121;
}


@media (min-width: 300px) {

    .img-fluid {
        max-width: 50%;
        max-height: 50%;
    }
}

@media (max-width: 800px) {

    .img-fluid {
        max-width: 100%;
        max-height: 100%;
    }
}

/*SECCIÓN 3 - PILARES*/
/*Fondo título rotativo*/
html .bg-color-primary,
html .bg-primary {
    background-color: #0b508c !important;
}

.fas{
    visibility: false;
}

.clientesCont {
    background-color: rgb(243, 243, 243) !important;
    /*border-color: #0b508c !important;*/
}

/*SECCIÓN 4 - FORMACIÓN*/
/*Fondo íconos*/
html .feature-box-primary .feature-box-icon {
    background-color: #0b508c;
}

/*SECCIÓN 5 - MÉTRICAS*/
.parallaxContainer {
    background-color: #0b508c !important;
    border-color: #0b508c !important;
}

/*SECCIÓN 6 - FORMULARIO*/
/*Color botón enviar*/
html .btn-primary {
    background-color: #24ffb6;
    border-color: #24ffb6;
    color: rgb(0, 0, 0);
    /*--color: #ffffff;
    --hover: #000000;
    --disabled: #000000;
    --active: #000000;*/
}

html .btn-primary:hover {
    background-color: #000000;
    /*order-color: #24ffb6;
    color: rgb(0, 0, 0);
    --color: #ffffff;
    --hover: #000000;
    --disabled: #000000;
    --active: #000000;*/
}

#phone {
    width: 515px;
}

@media screen and (max-width: 800px) {
    #phone {
        width: 450px;
    }
}

@media screen and (min-width: 400px) {
    #phone {
        width: 390px;
    }
}

/* FOOTER */
.py-5 {
    padding-top: 1, 5rem !important;
    padding-bottom: 1, 5rem !important
}


/* BOTON WHATSAPP */
.btn-wsp {
    position: fixed;
    width: 60px;
    height: 60px;
    line-height: 63px;
    bottom: 60px;
    right: 7px;
    background: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 35px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.427);
    z-index: 100;
    transition: all 300ms ease;
}

.btn-wsp:hover {
    background: #20ba5a;
    color: white;
}

@media only screen and (min-width:320px) and (max-width:768px) {
    .btn-wsp {
        width: 63px;
        height: 63px;
        line-height: 66px;
    }
}

@font-face {
    font-family: 'fontello';
    src:url('./font/fontello.eot?88367813');
    src:url('./font/fontello.eot?88367813#iefix') format('embedded-opentype'),
        url('./font/fontello.woff?88367813') format('woff'),
        url('./font/fontello.ttf?88367813') format('truetype'),
        url('./font/fontello.svg?88367813#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*ICONS*/
/*icons-color*/
html .text-color-primary,
html .text-primary {
    color: #61B42D !important;
}

#wpp {
    color: #61B42D;
}

#wpp:hover {
    background-color: #61B42D;
    color: white;
}

#wppFlecha {
    background-color: #61B42D;
}

#wppFlecha:hover {
    background-color: white;
}

#containerColor {
    background-color: #61B42D;
}

#miniFlecha {
    color: #61B42D;
}

.tituloPortfolio {
    text-align: center;
    font-weight: 500;
    font-size: 1.4rem;
    color: #61B42D;
}
